  *, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*****
html, body {

}

body {
  font: 1em 'Roboto', sans-serif;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

****/

body {
  font-family: "Gentium Book Basic", sans-serif;
}
/* header*
----------------------------- */
#banner {
  width: 100%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #000;
	color: #fff;
	background-color: #949893;
	padding: 10px;
	font-family:'Open Sans', sans-serif;
	font-size: 30px;
}


ul {
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
/*  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;*/
}

.bullet {
  list-style: circle;
}

h1 {
  padding: 30px 0;
  font: 1.5em 'Open Sans', sans-serif;
  text-align: center;
}

nav {
/*  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;*/
  background-color: #014966;
}

ul .headerlink {
  display: block;
  padding: 20px;
  padding-right: 0 !important; /* important overrides media queries */
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
/*  letter-spacing: 0.15em;*/
  position: relative;
  text-align: left;
}

.headerlink:after {
  background: none repeat scroll
  0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 30%;
  position: relative;
  background: #fff;
  transition: width 0.4s ease 0s,
  left 0.4s ease 0s;
  width: 0;
}

.headerlink:hover:after {
  width: 90%;
  left: 0;
}

/*li a:hover {
   text-decoration: underline;
   background-color: #a2d1de;
   padding: 20px;
}*/

nav li {
  float: left;
  width: 15%;
}

nav li:last-child {
  border-right: none;
}

/* Humberger Menu*
----------------------------- */


@media only screen and (max-width: 780px) {

  .hamburger {
    padding: 15px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }

  ul a:hover {
   text-decoration: none;
  }

  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.5s linear;
  }

  .slide-down {
    height: 320px;
    margin: 0 0 5px 0;
  }
}

.indicator {
  font-size: 2.5em;
  background-color: 	#87cefa;
  text-align: center;
  padding: 0.25em;
}

/*-----footer style--------*/
#footer{
  background-color: #014966;
  color:#fff;
  font-size: 0.7em;
  font-family: 'Gentium Book Basic', serif;
  padding:10px;
  text-align: center;
}


#footer a{
  color: #fff;
  font-weight: bold;
}

.social-icon{
  width:20px;
  height:20px;
  margin:0 5px;
}







/*-------- Home page style ---------*/
 #intro{
   width: 70%;
   margin:30px auto;
   padding:20px;
   font-size: 1.5em;
   font-family: 'Gentium Book Basic', serif;
   color: #000000;
 }
/*------------------------------- */

#dashboard {
  margin:auto;
  margin-bottom: 30px;
  padding:10px;
  background-color:#cccccc;
  font-family: 'Gentium Book Basic', serif;
  color: #000000;
}

#dashboard h2, p, a, ul {
  width: 90%;
  margin:0 auto;
  padding: 1em 0;
}

#dashboard h2 {
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #5a5a5a;
  padding-bottom: 5px;
}

#dashboard p {
  font-size: 1.25em;
  padding-top: 10px;
}

#dashboard a {
  color: #014966;
  font-weight: bolder;
  text-decoration: none;
}

#dashboard a:hover {
    background: #eee;
  }
/*---------------------------------- */
.home-search {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 70px auto;
}

.box1,
.box2 {
  display: flex;
  flex-direction: column;
}

.home-search h3 {
  font-size: 2.5em;
  text-align: center;
  border-bottom: 1px solid #5a5a5a;
  padding-bottom: 10px;
  font-family: 'Gentium Book Basic', serif;
}

.home-search h4 {
  font-size: 1.3em;
  color: #014966;
  font-family: 'Gentium Book Basic', serif;
}

.home-search form {
  font-size: 1.5em;
}

input[type="text"] {
  border: 1px solid #949893;
  display: block;
  margin: 10;
  width: 75%;
  font-family: 'Gentium Book Basic', serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

.home-search button {
    background-color: #949893;
    border: none;
    color: white;
    margin-top:0;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*
#search {
  margin:30px auto;
  width:80%;
  margin-top: 70px;
  font-family: 'Gentium Book Basic', serif;
}

#search h3 {
  font-size: 2.5em;
  text-align: center;
  border-bottom: 1px solid #5a5a5a;
  padding-bottom: 10px;
}

#search h4 {
  font-size: 1.8em;
  margin:20px auto;
  color: #014966;
}

#search .button {
  font-size: 15px;
  background-color: #949893;
  border: none;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 120px;
  padding: 10px;
}

.button a:active {
  background-color: #5C6663;
}

#search input[type=text] {
    width: 100%;
    font-size: 0.5em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #949893;
}

input[type=text]:focus {
        border: 3px solid #014966;
}

input[type=body] {
  width: 100%;
  font-size: 1.5em;
  height: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #949893;
}


form {
  font-size: 1.5em;
  padding-top: 15px;

}
*/

.news {
  margin:30px auto;
  width:80%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  font-family: 'Gentium Book Basic', serif;
}

.news h3 {
  font-size: 2.5em;
  text-align: center;
  border-bottom: 1px solid #5a5a5a;
  padding-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article1,
.article2 {
  display: flex;
  justify-content: space-around;
  margin-top: 0.75em;
}

article {
  display: flex;
  flex-direction: column;
  flex: 1 200px;
  align-items: flex-start;
}

.news h4,
.news p {
  margin-left: 1em;
}

.news time {
  margin-left: 1.5em;
}

.news h4 {
  font-size: 1.5em;
}

.news a {
  text-decoration: none;
  color: #000;
}

.news a:hover {
  color: navy;
}

.news time {
  font-size: 0.8em;
  font-style: italic;
}

.news button {
    background-color: #949893;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
       Profile Page Style
  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

  .login,
  .create,
  .topics {
    margin:30px auto;
    width:80%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Gentium Book Basic', serif;
  }




  .button {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 30px;
  	background-color: #949893;
  	border: none;
  	color: #fff;
  	text-align: center;
  	display: inline-block;
  	width: 120px;
  	padding: 10px;
    margin: 0 0 30px 0;
  }

  .button a:active {
  	background-color: #5C6663;
  }

  input[type=text] {
  		width: 100%;
  		font-size: 2em;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
  		border-color: #949893;
  }

  input[type=text]:focus {
  		    border: 3px solid #014966;
  }

  input[type=body] {
  	width: 100%;
  	font-size: 2em;
  	height: 300px;
  	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
  	border-color: #949893;
  }

  form {
    font-size: 1.5em;
    padding-top: 15px;

  }

  .login h3,
  .create h3,
  .topics h3 {
    font-size: 2em;
    text-align: center;
    color: #014966;
  }

  /* ==============================================
           Lawmaker Style
    ============================================= */

.lawmakers,
.lawmaker-info1,
.lawmaker-info2,
.lawmaker-info3 {
  display: flex;
  flex-direction: column;
  margin:30px auto;
  width:80%;
  margin-top: 100px;
}

.lawmaker1,
.lawmaker2,
.lawmaker3,
.lawmaker4,
.lawmaker5 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 2em;
  margin-left: 3px;


}

/*.lawmaker-info1,
.lawmaker-info2,
.lawmaker-info3 img,
.lawmaker-info1,
.lawmaker-info2,
.lawmaker-info3 section {
  margin-left: 2em;
}*/

.lawmaker-info1,
.lawmaker-info2,
.lawmaker-info3 section {
  flex-grow: 1;
}


    .lawmakerimage {
    	float: left;
    	margin-left: 100px;
    	margin-right:0px;
    	margin-bottom: 100px;
    	padding:0;
    }

    .lawmakertext {
    	font-size: 24px;
    	margin:0;
    	padding:0;
    	display: block;
    	align-items: center;
    	justify-content: center;
    	/*margin: 100px;*/
    }

    .lawmaker {
    	width:60%;
    	margin: 0 auto;
    	text-align: center;
    }

    .lawmakerbox {
    	display: flex;
    	flex-direction: column;
    }

    .exlawmakerimage {
      /*float: center;*/
      margin-left: 100px;
      margin-right:0px;
      margin-bottom: 100px;
      padding:0;
    }

    .exlawmakertext {
    	font-size: 30px;
    	margin:0;
    	padding:0;
    	display: block;
    	align-items: center;
    	justify-content: center;
}

.lawmaker-info-all {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
/* ==================================================
              Result Page Style
============================================ */

.search-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	background-color: #cccccc;
	color: #000;
  min-width: 100%;
  margin: 30px auto;
}

.search-nav li {
  font-size: 1.5em;
}

.result1 {
  width:80%;
  margin: 0 auto;
}


.result2-1,
.result2-2,
.result2-3,
.result2-4,
.result2-5 {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  justify-content: center;
}

.result2 section {
  margin-left: 15px;
}

.container{
  display: flex;
  flex-direction: row;
}

@media (min-width: 599px) {
.container {
  flex-direction: row;
  justify-content: center;
}
}

@media (min-width: 799px) {

	.item-1 {
		margin-right: auto;
	}
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
       Search Page Style
  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
  .search-page {
    width:80%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 5em;
  }

 /*.search-page ul {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }*/

 .search-page a {
   text-decoration: none;
   color:black;
   padding-right: 15px;
 }

.search-page a:hover {
  color:#929292;
}

  /*.search-container{
  width: 80%;
  display: block;
  margin: 0 auto;
}*/

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -55px;
}

input [type=radio]{

}


/*.search_menu {
    display: flex;
    flex-flow: row;
    float: left;
  }

  .menu_item {
    background: #C5C3C3;
    margin: 3px;
    font-size: 30px;
    paddingï¼š2px;
  }

  .search_go {
    font-size: 30px;
    margin: 0 0 5px 20px;
  }*/

/*  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio] {
    display: none;
    padding-left: 20px;
    padding-right: 2px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
  }

label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}*/


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
       Bills Page Style
  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

  .search_button {
    width: 10em;
    margin: 0 0 20px 0;
  }

  .bills {
    margin:30px auto;
    width:80%;
    margin-top: 100px;
  }

  .bills button {
      background-color: #949893;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

/*
.bill,
.bill-info-info{
  display: flex;
  flex-direction: column;
  margin:30px auto;
  width:80%;
  margin-top: 100px;
}

.bill1,
.bill2,
.bill3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}

.bill-info img,
.bill-info section {
  margin-left: 2em;
}

.bill-info section {
  flex-grow: 1;
}


    .billimage {
    	float: left;
    	margin-left: 100px;
    	margin-right:0px;
    	margin-bottom: 100px;
    	padding:0;
    }

    .billtext {
    	font-size: 30px;
    	margin:0;
    	padding:0;
    	display: block;
    	align-items: center;
    	justify-content: center;
    	/*margin: 100px;
    }*/

    .bill {
    	width:60%;
    	margin: 0 auto;
    	text-align: center;
    }

    .billbox {
    	display: flex;
    	flex-direction: column;
    }


  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         Contactus Page Style
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
    .contact {
      width: 80%;
      margin: auto;
      margin-bottom: 3em;
    }

  /* ==============================================
           Bills Result Style
    ============================================= */

/*Timeline style*/

            .timeline {
                font-family: Helvetica, Arial, sans-serif;
                box-sizing: border-box;
            }
            .timeline {
                width: 400px;
                margin: 50px 0 500px 500px;
            }
            .timeline .timeline-item {
                width: 100%;
            }
            .timeline .timeline-item .info, .timeline .timeline-item .year {
                color: #eee;
                display: block;
                float:left;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                transition: all 1s ease;
            }
            .timeline .timeline-item.close .info, .timeline .timeline-item.close .year {
                color: #ccc;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                transition: all 1s ease;
            }
            .timeline .timeline-item .year {
                font-size: 24px;
                font-weight: bold;
                width: 22%;
            }
            .timeline .timeline-item .info {
                width: 100%;
                width: 78%;
                margin-left: -2px;
                padding: 0 0 40px 35px;
                border-left: 4px solid #aaa;
                font-size: 14px;
                line-height: 20px;
            }
            .timeline .timeline-item .marker {
                background-color: #fff;
                border: 4px solid #aaa;
                height: 20px;
                width: 20px;
                border-radius: 100px;
                display: block;
                float: right;
                margin-right: -14px;
                z-index: 2000;
                position: relative;
            }
            .timeline .timeline-item.active .info, .timeline .timeline-item:hover .info {
                color: #444;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                transition: all 1s ease;
            }
            .timeline .timeline-item.active .year, .timeline .timeline-item:hover .year {
                color: #9DB668;
            }
            .timeline .timeline-item .marker .dot {
                background-color: white;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                transition: all 1s ease;
                display: block;
                border: 4px solid white;
                height: 12px;
                width: 12px;
                border-radius: 100px;
                float: right;
                z-index: 2000;
                position: relative;
            }
            .timeline .timeline-item.active .marker .dot, .timeline .timeline-item:hover .marker .dot {
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                transition: all 1s ease;
                background-color: #9DB668;
                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
            }

   .contact {
     width: 80%;
     margin: 3em;
   }

   /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
       Lawmaker result page
  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
  .lawmaker-info {
    display: flex;
    margin: 0 30px 0 30px;
  }

  .exlawmakerimage {
    margin: 20px 20px 20px 40px;
  }

  .exlawmakerinfo {
    margin:20px 20px 20px 40px;
  }


   /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
       The scroll box
  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

  html {
  background: white;
  font: 120% sans-serif;
}
.scrollbox {
  overflow: auto;
  width: 600px;
  max-height: 211px;
  margin: 20px 20px 20px 40px;
  border: 1px solid #ccc;
  z-index: 999;

  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
.scrollbox ul {
  margin: 0;
  padding: 0;
}
.scrollbox li {
  font: 13px/16px Arial, Helvetica, sans-serif;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #ccc;
  background-color: rgba(229, 243, 253, 0.8);
}
.scrollbox li:hover {
  background-color: rgba(193, 209, 225, 0.8);
}
.scrollbox li:last-child {
  border-bottom: none;
}
.scrollbox label, .scrollbox input {
  cursor: pointer;
}

.voting {
  text-align: center;
}

@media only screen and (max-width: 780px) {
   #intro {
     width:90%;
   }

   .article1,
   .article2 {
     display:flex;
     flex-direction: column;
   }

   img {
     margin:0 auto;
   }





}
