#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #014966;
}

#nav a:link, #nav a:visited {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding: 4px 0px;
	color: #fff;
	background-color: #014966;
	display: block;
}

#nav a:active {
	background-color: #486A89;
}

#footer li{
	float: left;
	list-style-type: none;
	text-align: center;
	padding: 12px;
}

#footer {
	font-family:'Open Sans', sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 50px;
	padding: 0;
	margin: 0 auto;
	left: 0;
	background-color: #A2D1DE;
	width: 100%;
	position: fixed;
	bottom: 0;
}

#footer a:link, #footer a:visited {
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 10px;
}

#footer a:active{
	background-color: #486A89;
}
