#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #014966;
}

#nav li {
	float: left;
	width: 20%;
}

#nav a:link, #nav a:visited {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	padding: 4px 0px;
	color: #fff;
	background-color: #014966;
	display: block;
}

#nav a:hover, #nav a:active {
	background-color: #486A89;
}

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
#footer {
	font-family:'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 30px;
	text-align: center;
	padding: 8px 8px;
	background-color: #A2D1DE;
	height: 100%;
	width: 20%;
}

#footer a:link, #footer a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
